<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/styles/header.css?{{ cache_id }}">
	<link rel="stylesheet" href="/static/styles/common.css?{{ cache_id }}">
	<link rel="stylesheet" href="/static/styles/footer.css?{{ cache_id }}">
	<link rel="stylesheet" href="/static/styles/section.css?{{ cache_id }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="/static/images/icon.png" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/static/script/description.js?{{ cache_id }}"></script>
	<script type="text/javascript" src="/static/script/rent_filter.js?{{ cache_id }}"></script>
	<title>skyspringhomes</title>
</head>
<body>
	<header>
		<div class="logo"></div>
		<nav>
			<ul class="navbar">
				<li><a href="{{ url_for('app_views.properties') }}">Home</a></li>
				<li><a href="{{ url_for('app_views.about') }}">About</a></li>
				<li><a href="{{ url_for('app_views.services') }}">Services</a></li>
				<li><a href="{{ url_for('app_views.contact') }}">Contact</a></li>
			</ul>
		</nav>
	</header>
	<div class="hero-section">
		<div class="hero-overlay"></div>
		<div class="hero-content">
		  <h1 class="hero-title">Welcome to Skyspringhomes</h1>
		  <p class="hero-description">Providing exceptional properties and services since 2012</p>
		  <p>Find below our affordable homes, we have a home for everyone...</p>
		</div>
	</div>
	<div class="button-group">
		<button class="filter-button" data-target="all">All</button>
		<button class="filter-button" data-target="rent">Rent</button>
		<button class="filter-button" data-target="sale">Sale</button>
		<button class="filter-button" data-target="service-apartment">Service Apartments</button>
	</div>
	<!-- all section -->
	<section id="all-section" class="section active">
		{% for item in all %}
		<div class="listing-card" data-id="{{ item.id }}" data-name="{{ item.class_name }}">
		  {% set first_image = first_image(item.image_path) %}
		  <img src="{{ item.image_path }}{{ first_image }}" alt="Listing image" class="listing-image">
		  <h4 class="listing-title">{{ item.title }}</h4>
		  {% set price = price_format_admin(item.price) %}
		  <span class="listing-price">&#8358; {{ price }}</span>
		  <p class="listing-location">{{ item.location }}</p>
		  {% set time = time_format_admin(item.updated_at) %}
		  <p class="listing-time">Uploaded at {{ time }}</p>
		</div>
		{% endfor %}
	</section>
	<!-- rent section -->
	<section id="rent-section" class="section">
            <section class="filters">
                <button>
                    Filter
                </button>
                <div class="rent-type">
                    <h3>
                        Rent type &#9662;
                    </h3>
                    <h4></h4>
                    <ul class="popover">
						<li>
							<label>
								<input class="rent-checkbox" type="checkbox" data-name="self-contain">self-contain
							</label>
						</li>
                        <li>
                            <label>
								<input class="rent-checkbox" type="checkbox" data-name="1-bedroom">1-bedroom
							</label>
                        </li>
                        <li>
							<label>
								<input class="rent-checkbox" type="checkbox" data-name="2-bedroom">2-bedroom
							</label>
                        </li>
                        <li>
                            <label>
								<input class="rent-checkbox" type="checkbox" data-name="3-bedroom">3-bedroom
							</label>
                        </li>
                        <li>
							<label>
								<input class="rent-checkbox" type="checkbox" data-name="4-bedroom">4-bedroom
							</label>
                        </li>
						<li>
							<label>
								<input class="rent-checkbox" type="checkbox" data-name="5-bedroom">5-bedroom
							</label>
                        </li>
                    </ul>

                </div>
            </section>
		{% for item in rent %}
		<div class="listing-card rent-list" data-id="{{ item.id }}" data-name="{{ item.class_name }}" data-type="{{ item.rent_type }}">
		  {% set first_image = first_image(item.image_path) %}
		  <img src="{{ item.image_path }}{{ first_image }}" alt="rent listing image" class="listing-image">
		  <h4 class="listing-title">{{ item.title }}</h4>
		  {% set price = price_format_admin(item.price) %}
		  <span class="listing-price">&#8358; {{ price }}</span>
		  <p class="listing-location">{{ item.rent_type }}</p>
		  <p class="listing-location">{{ item.location }}</p>
		  {% set time = time_format_admin(item.updated_at) %}
		  <p class="listing-time">Uploaded at {{ time }}</p>
		</div>
		{% endfor %}
	</section>
	<!-- sale section -->
	<section id="sale-section" class="section">
		{% for item in sale %}
		<div class="listing-card" data-id="{{ item.id }}" data-name="{{ item.class_name }}">
		  {% set first_image = first_image(item.image_path) %}
		  <img src="{{ item.image_path }}{{ first_image }}" alt="sale listing image" class="listing-image">
		  <h4 class="listing-title">{{ item.title }}</h4>
		  {% set price = price_format_admin(item.price) %}
		  <span class="listing-price">&#8358; {{ price }}</span>
		  <p class="listing-location">{{ item.location }}</p>
		  {% set time = time_format_admin(item.updated_at) %}
		  <p class="listing-time">Uploaded at {{ time }}</p>
		</div>
		{% endfor %}
	</section>
	<!-- service apartment section -->
	<section id="service-apartment-section" class="section">
		{% for item in serviced %}
		<div class="listing-card" data-id="{{ item.id }}" data-name="{{ item.class_name }}">
		  {% set first_image = first_image(item.image_path) %}
		  <img src="{{ item.image_path }}{{ first_image }}" alt="service apartment listing image" class="listing-image">
		  <h4 class="listing-title">{{ item.title }}</h4>
		  {% set price = price_format_admin(item.price) %}
		  <span class="listing-price">&#8358; {{ price }}</span>
		  <p class="listing-location">{{ item.location }}</p>
		  {% set time = time_format_admin(item.updated_at) %}
		  <p class="listing-time">Uploaded at {{ time }}</p>
		</div>
		{% endfor %}
	</section>
	
	{% include 'footer.html' %}

	<script src="/static/script/section.js?{{ cache_id }}"></script>
</body>
</html>
