<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/styles/prop_description.css">
	<link rel="stylesheet" href="/static/styles/header.css">

	<title>Description</title>
</head>
<body>
	<header>
		<div class="logo"></div>
		<nav>
			<ul class="navbar">
				<li><a href="home">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<div class="slideshow-container">
		{% for image_file in image_files %}
		<div class="mySlides fade">
			<div class="numbertext">{{ loop.index }} / {{ total_images }}</div>
			<img src="{{ sale.image_path }}{{ image_file }}">
		</div>
		{% endfor %}
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
	<div class="full">
		<h4 class="title">{{ sale.title }}</h4>
		<span class="price">&#8358; {{ sale.price }}</span>
		<p class="location">{{ sale.location }}</p>
		<p class="time">Uploaded at {{ sale.updated_at }}</p>
		<h3 class="desc">Description</h3>
		<p class="description">{{ sale.description }}</p>
		<h3 class="agent">Agent Contact</h3>
		<h4 class="name">Name: John Stone</h4>
		<p class="phone">+234 816 440 4546</p>
	</div>
	   
	<script>
		let slideIndex = 1;
		showSlides(slideIndex);
		function plusSlides(n) {
		  showSlides(slideIndex += n);
		}
		function currentSlide(n) {
		  showSlides(slideIndex = n);
		}
		function showSlides(n) {
		  let i;
		  const slides = document.getElementsByClassName("mySlides");
		 
		  if(n > slides.length) {
			slideIndex = 1
		  }
		  if(n < 1) {
			slideIndex = slides.length
		  }
		  for(i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		  }
		  slides[slideIndex - 1].style.display = "block";
		}
	</script>
</body>
</html>
