<footer class="footer-distributed">

	<div class="footer-left">

		<h3>Skyspring<span>homes</span></h3>

		<p class="footer-links">
			<a href="{{ url_for('app_views.properties_admin') }}" class="link-1">Home</a>
		</p>

		<p class="footer-company-name">&copy; 2023 skyspringhomes. All rights reserved.</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Plot 2044 Malvan Iyalla</span> Karu, Abuja</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+234 816 440 4546</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:martinsndifon@gmail.com">support@skyspringhomes</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About the company</span>
			Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
		</p>

		<div class="footer-icons">

			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>

		</div>

	</div>

</footer>
