<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>sale property form</title>
	<link rel="stylesheet" href="/static/styles/post_form.css?{{ cache_id }}">
	<link rel="icon" href="/static/images/icon.png"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
	<div class="container">
		<h1>New Sale Property Form</h1>
		<form id="my-form" enctype="multipart/form-data">
		  <label for="title">Title: (25 characters max)</label>
		  <input type="text" id="title" name="title" maxlength="25" required>
	
		  <label for="price">Price:</label>
		  <input type="number" id="price" name="price" required>
	
		  <label for="location">Location:</label>
		  <input type="text" id="location" name="location" required>
	
		  <label for="description">Description:</label>
		  <textarea id="description" name="description" rows="5" required></textarea>
	
		  <div class="file-input">
			<label for="images">Upload Images (up to 10):</label>
			<input type="file" id="images" name="images" accept="image/*" multiple required>
		  </div>
	
		  <!-- <div class="file-input">
			<label for="videos">Upload Video</label>
			<input type="file" id="videos" name="videos" accept="video/*" multiple>
		  </div> -->
	
		  <button id="submit-btn">Submit</button>
		</form>
	  </div>
	  <script>
             $(document).ready(function() {
                $('#submit-btn').click(function(e) {
                  e.preventDefault(); // Prevent default form submission behavior

                  const formData = new FormData($('#my-form')[0]); // Create FormData object with form data

		  // Perform validation
                  const title = formData.get('title');
                  const price = formData.get('price');
                  const location = formData.get('location');
                  const description = formData.get('description');
                  const images = formData.getAll('images');

                  if (!title || !price || !location || !description) {
                  toastr.error('All forms fields are required.');
                  return;
                  }

                  if (images.length === 0 || (images.length === 1 && images[0].name === '')) {
                  toastr.error('Please upload at least one image for the property.');
                  return;
                  }

                  $.ajax({
                    url: 'http://127.0.0.1:5000/api/v1/sale',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
		    headers: {
    		      'Authorization': 'Basic YWRtaW46bWFydGluc25kaWZvbg=='
  		    },
                    success: function(response) {
                      toastr.success('Operation successful');
		      setTimeout( () => {
			window.location.href = 'http://127.0.0.1:3000/skyspringhomes/admin';
		      }, 1000);
                    },
                    error: function(xhr, status, error) {
                      toastr.error('Error: ' + error);
                        // Handle error response
                    }
                  });
                });
              });
          </script>
</body>
</html>
