.section {
	display: none;
  }

  .active {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
  }

  .listing-card {
	flex-basis: 23%;
	background-color: #F9FBE7;
	padding: 0;
	border: 0;
	margin: 10px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 3px 0px #000;
	box-shadow: 0 0 3px 0px #000;
	position: relative;
  }
  
  .listing-card:hover {
	-webkit-box-shadow: 0 0 5px 0.5px #000;
	box-shadow: 0 0 5px 0.5px #000;
}

  .listing-image {
	width: 100%;
	max-height: 60%;
	object-fit: cover;
	margin-bottom: 3px;
	border-radius: 3px 3px 0 0;
  }

  .class-name {
	position: absolute;
  	top: 0;
	left: 0;
	z-index: 1;
	background-color: #000;
	color: #fff;
	border-radius: 3px 0 0 0;
	padding: 3px;
  }

  .listing-title {
	color: #000;
	margin: 0;
	padding: 3px 20px;
  }

  .listing-price {
	font-weight: bold;
	font-size: 25px;
	color: #000;
	margin: 0;
	padding: 0 20px;
  }

  .listing-location,
  .listing-time {
	color: #000;
	margin: 0;
	padding: 3px 20px;
  }

  #rent-section .filters {
	display: block;
}

/*rent option filter*/
.filters {
    background-color: #fff;
    height: 55px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    display: flex;  
    align-items: center;
    position: relative;
    width: 85%;
	margin-bottom: 15px;
}

.filters button {
    font-size: inherit;
    background-color: #2B3467;
    color: #FFFFFF;
    height:  35px;
    width: 15%;
    border: none;
    border-radius: 30px;
    position: absolute;
    right: 30px;
	margin-top: 8px;
	cursor: pointer;
    /* box-sizing: border-box; */
}
.filters button:hover {
    opacity: 0.9;
}

.filters button:active {
	transform: scale(0.95);
}

.filters .rent-type{

    height: 100%; 
    width: 133px;
    position: relative;
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    box-sizing: border-box;
}

.rent-type {
    border-right: 1px solid  #DDDDDD ;
}

.filters .rent-type h3{
    font-weight: 50px;
    margin: 2px 20px;
	font-size: 14px;
}
.rent-type h4{
    font-size: 12px;
    margin: 2px 20px;   
}
.rent-type	ul{
	list-style: none;
	padding-left: 5px;
	cursor: pointer;
}
.popover {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 0;
    z-index: 2;
}

div:hover > .popover {
    display: block;
    cursor: pointer;
  }

.popover li {
    margin: 4px 0px;
}

.rent-checkbox {
    margin-right: 10px;
}

@media screen and (max-width: 1200px) {
    .listing-card {
        flex-basis: 31%;
    }
}

@media screen and (max-width: 876px) {
    .listing-card {
    	flex-grow: 1;
    }
}

@media screen and (max-width: 475px) {
    .listing-card {
        flex-basis: 48%;
    }

    .filters button {
        width: 25%
    }
}
