nav {
	background-color: #020f13;
	text-align: right;
  }

  ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

  ul.navbar li {
	display: inline-block;
	margin-right: 0.625rem;
  }

  ul.navbar li a {
	display: block;
	padding: 0.625rem;
	text-decoration: none;
	color: #f7f3f3;
  }

  ul.navbar li a:hover {
	background-color: #c44747;
  }

  .dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 0;
  z-index: 1;
  text-align: left;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  padding: 10px 20px;
  color: #e7e5e5;
}

.dropdown-menu li:hover {
  background-color: #ccc;
}